.playground-terminal {
  background: #2f333d;
  border-radius: 5px;
  border-top: 30px solid #000000;
  width: 100%;
  position: relative;
  padding: 10px 20px;
  color: #dfe1e8;
  font-family: "Source Code Pro", monospace;

}
  li.terminal-line {
    line-height: 1.8;
  }

  span.terminal-carrot {
    color: #bada55;
    display: inline-block;
    margin-right: 3px;
  }


